<div class="page page-profile clearfix" ng-controller="PageProfileCtrl">
<ol class="breadcrumb breadcrumb-small">
    <li>Meus Produtos</li>
    <li class="active"><a href="#/forms/form-wizard">Editar Produto</a></li>
</ol>
<div class="page-wrap">
<div class="row">
<div class="col-lg-8">
<div class="panel panel-lined mb30">
<tabset class="tabs-lined fade-tabs-content">
<tab heading="EDITAR PRODUTOS">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-lined table-responsive mb30"  ng-controller="DataTablePizza">
                <div class="panel-body">
                    <div class="small text-bold left mt5">
                        Mostrar&nbsp;
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpts"
                                data-ng-change="onNumPerPageChange()">
                        </select>
                        &nbsp;entradas
                    </div>

                    <form class="form-horizontal right col-lg-4">
                        <input type="text" class="form-control input-sm" placeholder="Digite o nome do produto..." data-ng-model="searchKeywords" data-ng-keyup="search()">
                    </form>
                </div>
                <!-- data table -->
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>
                            Nome
                            <div class="th">
                                <i class="fa fa-caret-up icon-up"
                                   ng-click=" order('nome') "
                                   ng-class="{active: row == 'nome'}"></i>
                                <i class="fa fa-caret-down icon-down"
                                   ng-click=" order('-nome') "
                                   ng-class="{active: row == '-nome'}"></i>
                            </div>
                        </th>

                        <th>
                            Preço
                            <div class="th">
                                <i class="fa fa-caret-up icon-up"
                                   ng-click=" order('nome') "
                                   ng-class="{active: row == 'nome'}"></i>
                                <i class="fa fa-caret-down icon-down"
                                   ng-click=" order('-nome') "
                                   ng-class="{active: row == '-nome'}"></i>
                            </div>
                        </th>

                        <th>
                            Tipo do Produto
                            <div class="th">
                                <i class="fa fa-caret-up icon-up"
                                   ng-click=" order('nome') "
                                   ng-class="{active: row == 'nome'}"></i>
                                <i class="fa fa-caret-down icon-down"
                                   ng-click=" order('-nome') "
                                   ng-class="{active: row == '-nome'}"></i>
                            </div>
                        </th>



                        <th>
                            Opções
                            <div class="th">

                            </div>
                        </th>
                        <th>
                            Status
                            <div class="th">
                                <i class="fa fa-caret-up icon-up"
                                   ng-click=" order('grade') "
                                   ng-class="{active: row == 'grade'}"></i>
                                <i class="fa fa-caret-down icon-down"
                                   ng-click=" order('-grade') "
                                   ng-class="{active: row == '-grade'}"></i>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="data in currentPageStores track by $index">
                        <td style="color:#000;"> {{data.nome_produto | uppercase }}</td>
                        <td style="font-size:14px;" ng-class="'{{data.tipo}}' == 'pizza' ? 'show' : 'hide'"  style="font-size:10px;" > <strong>Pequena:</strong> R$ {{data.preco.pequena}} <br> <strong>Media:</strong> R$ {{data.preco.media}} <br> <strong>Grande:</strong> R$ {{data.preco.grande}}</td>
                        <td  style="font-size:14px;" ng-class="!('{{data.tipo}}' == 'pizza') ? 'show' : 'hide'"  style="font-size:10px;" > <strong>R$:</strong> {{data.preco}}</td>
                        <td style="color:#000;"> {{ data.tipo | uppercase }} </td>
                        <td>
                            <a href="#"><button type="button" class="btn btn-success btn-sm">Editar</button></a>
                            <a href="#"><button type="button" class="btn btn-danger btn-sm">Desativar</button></a>
                        </td>
                        <td>ATIVADO</td>
                    </tr>
                    </tbody>
                </table>
                <!-- #end data table -->

                <div class="panel-footer clearfix">
                    <p class="left mt15 small">
                        Mostrando {{currentPageStores.length*(currentPage - 1) + 1}} até {{currentPageStores.length*currentPage}} de {{pizzas.length}} entradas.
                    </p>
                    <pagination boundary-links="true" total-items="filteredData.length" ng-model="currentPage" class="pagination-sm right"
                                max-size="5" ng-change="select(currentPage)" items-per-page="numPerPage" rotate="false"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                </div>
            </div>
        </div>
    </div>

</tab>
</tabset>
<!-- Form wizard -->
<!-- #end form wizard -->
</div>
</div>
</div>
</div>
</div>
<!-- #end row -->
</div>
<!-- #end page-wrap -->
</div>