<div class="page page-profile clearfix" ng-controller="PageProfileCtrl">
<ol class="breadcrumb breadcrumb-small">
		<li>Meus Restaurantes</li>
		<li class="active"><a href="#/forms/form-wizard">Editar Restaurante</a></li>
	</ol>
	<div class="page-wrap">
		<div class="row">
			<!-- Profile desc -->
			<div class="col-lg-12">
				<div class="panel panel-lined profile-desc mb30 col-lg-12">
					<div class="panel-body">
						<div class="clearfix mb30">
							<figure class="profile-pic">
								<img src="images/admin.jpg" alt="user">
							</figure>
							<div class="desc-wrap">
								<div class="desc-head">
									<h4>Top Lanches <i class="fa fa-check-circle"></i></h4>
									<div class="sub-head small text-muted">Juazeiro do Norte, CE | Restaurante e Macarrão</div>
								</div>
								<p>Restaurante com cardápio variado de tapiocas, bolos, tortas, sanduiches, macarrão ao vivo. Entrega em todo
								Juazeiro.</p>
							</div>
						</div>

						<ul class="list-unstyled profile-nums row">
							<li class="col-xs-4">
								<h5 class="digit">885</h5>
								<div class="word">Pedidos Concluídos</div>
							</li>
							<li class="col-xs-4">
								<h5 class="digit">5</h5>
								<div class="word">Nota da Comunidade(0 a 5)</div>
							</li>
							<li class="col-xs-4">
								<h5 class="digit">R$ 455,00</h5>
								<div class="word">Faturamento</div>
							</li>
						</ul>
					</div> <!-- #end panel-body -->
				</div> <!-- #end panel -->
			</div>
			<!-- #end profile desc -->

			<!-- Profile Visits -->
			<div class="col-lg-6">

			</div>
			<!-- #end profile visits -->

		</div> <!-- #end row -->


		<div class="row">
			<!-- #profile update -->
			<div class="col-lg-12 mb30">
				<tabset class="tabs-side">
					<tab heading="Informações Profissionais">
						<form role="form" class="form-horizontal mt15">
							<div class="form-group">
								<label class="col-lg-4 control-label">Nome do Estabelecimento</label>
								<div class="col-lg-8">
									<input type="text" class="form-control" ng-minlength="4" placeholder="TOP Lanches" disabled>
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-4 control-label">Endereço</label>
								<div class="col-lg-8">
									<input type="text" class="form-control" placeholder="Rua Sao Pedro, 575" required>
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-4 control-label">Email</label>
								<div class="col-lg-8">
									<input type="email" class="form-control" placeholder="john@doe.com" ng-model="fv.email" required>
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-4 control-label">CEP</label>
								<div class="col-lg-8">
									<input type="text" class="form-control" ng-minlength="6" placeholder="63010000" required>
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-4 control-label">Telefone Estabelecimento</label>
								<div class="col-lg-8">
									<input type="tel" class="form-control" ng-pattern="/\d{2}-\d{5}-\d{2}$/" ng-model="fv.phone" placeholder="xx-xxxxx-xx" required>
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-4 control-label">Telefone Proprietário</label>
								<div class="col-lg-8">
									<input type="tel" class="form-control" ng-pattern="/\d{2}-\d{5}-\d{2}$/" ng-model="fv.phone" placeholder="xx-xxxxx-xx" required>
								</div>
							</div>
							
							<button type="submit" class="btn btn-info right">Salvar</button>
						</form>
					</tab>
					<tab heading="Taxas e Horários">
						<form class="form-inline text-center">
							<div class="form-group form-group-sm col-lg-12">
							<h4>Segunda<h4>
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Abertura">
								</div>
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Fechamento">
								</div>
							<h4>Terça<h4>
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Abertura">
								</div>
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Fechamento">
								</div>
							<h4>Quarta<h4>
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Abertura">
								</div>
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Fechamento">
								</div>
							<h4>Quinta<h4>
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Abertura">
								</div>
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Fechamento">
								</div>
							<h4>Sexta<h4>
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Abertura">
								</div>
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Fechamento">
								</div>
							<h4>Sábado<h4>
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Abertura">
								</div>
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Fechamento">
								</div>
							<h4>Domingo<h4>
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Abertura">
								</div>
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Fechamento">
								</div>
								<hr>
							<h4>Fechamos para horario de almoço<h4>
								<div class="ui-toggle ui-toggle-primary mb15">
									<label class="ui-toggle-inline">
										<input type="checkbox"onclick="toggle_visibility('almocoShow')" name="toggleShow" > 
										<span></span>
									</label>
								</div>
								<div id="almocoShow" style="display:none;">
									<div class="input-group">
									<input type="text" class="form-control" placeholder="Horario de fechamento">
									</div>
									<div class="input-group">
									<input type="text" class="form-control" placeholder="Horario de retorno">
									</div>
								</div>
								<button type="submit" class="btn clearfix btn-info right">Salvar</button>
						</div>
						</form>

					</tab>
					<tab heading="Redes Sociais">
						<form role="form" class="form-horizontal mt15">
							<div class="form-group">
								<div class="col-lg-12">
									<div class="input-group">
										<span class="input-group-addon fa fa-twitter bg-twitter"></span>
										<input type="text" class="form-control" placeholder="Twitter Username">
									</div>
								</div>
							</div>	
							<div class="form-group">
								<div class="col-lg-12">
									<div class="input-group">
										<span class="input-group-addon fa fa-facebook bg-facebook"></span>
										<input type="text" class="form-control" placeholder="Facebook Username">
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-12">
									<div class="input-group">
										<span class="input-group-addon fa fa-google-plus bg-gplus"></span>
										<input type="text" class="form-control" placeholder="Google Plus Username">
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-12">
									<div class="input-group">
										<span class="input-group-addon fa fa-dribbble bg-dribbble"></span>
										<input type="text" class="form-control" placeholder="Dribbble Username">
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-12">
									<div class="input-group">
										<span class="input-group-addon fa fa-linkedin bg-linkedin"></span>
										<input type="text" class="form-control" placeholder="Linkedin Username">
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-12">
									<div class="input-group">
										<span class="input-group-addon fa fa-behance bg-behance"></span>
										<input type="text" class="form-control" placeholder="behance Username">
									</div>
								</div>
							</div>
							<button type="submit" class="btn btn-info right">Salvar</button>
						</form>

					</tab>
				</tabset>
			</div>
			<!-- #end profile update -->

		</div> <!-- #end row -->
	</div>	<!-- #end page-wrap -->
	<!-- #end page-wrap -->
</div>