<div class="page page-form-wizard clearfix">


	<ol class="breadcrumb breadcrumb-small">
		<li>Meus Produtos</li>
		<li class="active"><a href="#/forms/form-wizard">Adicionar Produto</a></li>
	</ol>

	<div class="page-wrap">
		<div class="row">
			<div class="col-lg-6">
				<div class="panel panel-lined mb30">
					<tabset class="tabs-lined fade-tabs-content">
						<tab heading="Pizzas">
							<div class="clearfix">
								<form role="form1">
										<div class="form-group">
											<label class="text-uppercase small text-bold">Nome do Sabor:</label>
											<input type="text" class="form-control" placeholder="Mussarela">
										</div>
										<div class="form-group">
											<label class="text-uppercase small text-bold">Ingredientes:</label>
											<textarea rows="5" class="form-control resize-v" placeholder="Separe por vírgula"></textarea>
										</div>
										<div class="form-group">
											<label class="text-uppercase small text-bold">Tamanhos:</label>
											<div class="ui-checkbox ui-checkbox-danger">
												<label>
													<input type="checkbox" onclick="toggle_visibility('pizzapeq')" > 
													<span>Pequeno</span>
												</label>
												<label>
													<input type="checkbox" onclick="toggle_visibility('pizzamed')" > 
													<span>Médio</span>
												</label>
												<label>
													<input type="checkbox" onclick="toggle_visibility('pizzagd')" > 
													<span>Grande</span>
												</label>
											</div>
										</div>
										<div class="form-group"  id="pizzapeq"style="display:none;">
											<label class="text-uppercase small text-bold">Valor Pequena:</label>
											<input type="number" class="form-control" min="0" max="999" ng-model="fv.number" placeholder="20,00"required>
										</div>
										<div class="form-group"  id="pizzamed" style="display:none;">
											<label class="text-uppercase small text-bold">Valor Media:</label>
											<input type="number" class="form-control" min="0" max="999" ng-model="fv.number" placeholder="20,00"required>
										</div>
										<div class="form-group"  id="pizzagd" style="display:none;">
											<label class="text-uppercase small text-bold">Valor Grande:</label>
											<input type="number" class="form-control" min="0" max="999" ng-model="fv.number" placeholder="20,00"required>
										</div>

										<div class="form-group">
											<label class="text-uppercase small text-bold">É Possível adicionar bordas?</label>
												<div class="ui-toggle ui-toggle-primary mb15">
													<label class="ui-toggle-inline">
													<input type="checkbox" name="toggleEg" onclick="toggle_visibility('bordas')"> 
													<span></span>
													</label>
												</div>
											<div id="bordas" style="display:none;">
												<div class="form-group">
													<label class="text-uppercase small text-bold">Valor da borda:</label>
													<input type="number" class="form-control" min="0" max="999" ng-model="fv.number" placeholder="20,00"required>
												</div>
												<div class="form-group">
													<label class="text-uppercase small text-bold">Sabores da borda:</label>
													<input type="text" class="form-control" placeholder="Cheddar..."required>
												</div>
											</div>
										</div>
										<button type="submit" class="btn clearfix btn-info right">Adicionar</button>
									</form>
							</div>
						</tab>
						<tab heading="Esfihas" class="style-me">
							<form role="form2">
										<div class="form-group">
											<label class="text-uppercase small text-bold">Nome do Sabor:</label>
											<input type="text" class="form-control" placeholder="Mussarela">
										</div>
										<div class="form-group">
											<label class="text-uppercase small text-bold">Ingredientes:</label>
											<textarea rows="5" class="form-control resize-v" placeholder"Separe por vírgula"></textarea>
										</div>
										<div class="form-group">
											<label class="text-uppercase small text-bold">Tipos:</label>
											<div class="ui-checkbox ui-checkbox-danger">
												<label>
													<input type="checkbox" checked> 
													<span>Aberta</span>
												</label>
												<label>
													<input type="checkbox" checked> 
													<span>Fechada</span>
												</label>
											</div>
										</div>
										<div class="form-group">
											<label class="text-uppercase small text-bold">Valor:</label>
											<input type="number" class="form-control" min="0" max="999" ng-model="fv.number" placeholder="20,00"required>
										</div>
										<button type="submit" class="btn clearfix btn-info right">Adicionar</button>
							</form>							
						</tab>
						<tab heading="Salgados">
							<form role="form3">
										<div class="form-group">
											<label class="text-uppercase small text-bold">Nome:</label>
											<input type="text" class="form-control" placeholder="Coxinha">
										</div>
										<div class="form-group">
											<label class="text-uppercase small text-bold">Ingredientes:</label>
											<textarea rows="5" class="form-control resize-v" placeholder"Separe por vírgula"></textarea>
										</div>
										<div class="form-group">
											<label class="text-uppercase small text-bold">Valor:</label>
											<input type="number" class="form-control" min="0" max="999" ng-model="fv.number" placeholder="20,00"required>
										</div>
										<button type="submit" class="btn clearfix btn-info right">Adicionar</button>
							</form>
						</tab>
						<tab heading="Sanduiches">
							<form role="form4">
										<div class="form-group">
											<label class="text-uppercase small text-bold">Nome:</label>
											<input type="text" class="form-control" placeholder="X-Tudo">
										</div>
										<div class="form-group">
											<label class="text-uppercase small text-bold">Ingredientes:</label>
											<textarea rows="5" class="form-control resize-v" placeholder"Separe por vírgula"></textarea>
										</div>
										<div class="form-group">
											<label class="text-uppercase small text-bold">Valor:</label>
											<input type="number" class="form-control" min="0" max="999" ng-model="fv.number" placeholder="20,00"required>
										</div>
										<button type="submit" class="btn clearfix btn-info right">Adicionar</button>
									</form>
						</tab>
						<tab heading="Massas">
									<form role="form5">
										<div class="form-group">
											<label class="text-uppercase small text-bold">Nome:</label>
											<input type="text" class="form-control" placeholder="Macarrão ao Vivo">
										</div>
										<div class="form-group">
											<label class="text-uppercase small text-bold">Ingredientes:</label>
											<textarea rows="5" class="form-control resize-v" placeholder"Separe por vírgula"></textarea>
										</div>
										<div class="form-group">
											<label class="text-uppercase small text-bold">Valor:</label>
											<input type="number" class="form-control" min="0" max="999" ng-model="fv.number" placeholder="20,00"required>
										</div>
										<button type="submit" class="btn clearfix btn-info right">Adicionar</button>
									</form>							
						</tab>
						<tab heading="Bebidas">
									<form role="form6">
										<div class="form-group">
											<label class="text-uppercase small text-bold">Nome:</label>
											<input type="text" class="form-control" placeholder="Coca-Cola">
										</div>
										<div class="form-group">
											<label class="text-uppercase small text-bold">Tipos Disponíveis:</label>
											<div class="ui-checkbox ui-checkbox-danger">
												<label>
													<input type="checkbox" checked> 
													<span>Lata 350ml</span>
												</label>
												<label>
													<input type="checkbox" checked> 
													<span>1 litro</span>
												</label>
												<label>
													<input type="checkbox" checked> 
													<span>2 litros</span>
												</label>
											</div>
										</div>
										<div class="form-group">
											<label class="text-uppercase small text-bold">Valor:</label>
											<input type="number" class="form-control" min="0" max="999" ng-model="fv.number" placeholder="20,00"required>
										</div>
										<button type="submit" class="btn clearfix btn-info right">Adicionar</button>
									</form>
						</tab>
						<tab heading="Pratos">
									<form role="form5">
										<div class="form-group">
											<label class="text-uppercase small text-bold">Nome:</label>
											<input type="text" class="form-control" placeholder="Executivo">
										</div>
										<div class="form-group">
											<label class="text-uppercase small text-bold">Ingredientes:</label>
											<textarea rows="5" class="form-control resize-v" placeholder"Separe por vírgula"></textarea>
										</div>
										<div class="form-group">
											<label class="text-uppercase small text-bold">Valor:</label>
											<input type="number" class="form-control" min="0" max="999" ng-model="fv.number" placeholder="20,00"required>
										</div>
										<button type="submit" class="btn clearfix btn-info right">Adicionar</button>
									</form>		
						</tab>
						<tab heading="Outros">
									<form role="form5">
										<div class="form-group">
											<label class="text-uppercase small text-bold">Nome:</label>
											<input type="text" class="form-control" placeholder="Batata Frita">
										</div>
										<div class="form-group">
											<label class="text-uppercase small text-bold">Ingredientes:</label>
											<textarea rows="5" class="form-control resize-v" placeholder"Separe por vírgula"></textarea>
										</div>
										<div class="form-group">
											<label class="text-uppercase small text-bold">Valor:</label>
											<input type="number" class="form-control" min="0" max="999" ng-model="fv.number" placeholder="20,00"required>
										</div>
										<button type="submit" class="btn clearfix btn-info right">Adicionar</button>
									</form>		
						</tab>
					</tabset>
				<!-- Form wizard -->
				<!-- #end form wizard -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- #end row -->
	</div>
	<!-- #end page-wrap -->
</div>