<div class="page page-invoice clearfix">

	<ol class="breadcrumb breadcrumb-small">
		<li>Financeiro</li>
		<li class="active"><a href="#/financeiro/taxas">Taxas</a></li>
		<li class="active"><a href="#/financeiro/ordempagamento">Ordem de Pagamento</a></li>
	</ol>

	<div class="page-wrap">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel page-lined mb30">
					<div class="panel-body">
						<div class="clearfix mb30">
							<h4 class="small text-uppercase text-bold left">Invoice No. #B39439485</h4>
						</div>
						<!-- invoice addresses -->
						<div class="invoice-address mb30">
							<div class="box">
								<p><strong>Order No: </strong>334342STR89</p>
								<p><strong>Order Date: </strong>04-08-2014</p>
								<p><strong class="text-uppercase">Vat/Tin: </strong>20495872349</p>
								<p><strong>Service Tax: </strong>#04995882FDW</p>
							</div>
							<div class="box">
								<p class="text-uppercase"><strong>Foodis Administração</strong></p>
								<address>
									<strong>Foodis, Inc.</strong><br>
									1267 Sao Francisco, Suite 1<br>
									Juazeiro do Norte, CE 63010475<br>
									<abbr title="Phone">Tel:</abbr> (88) 9632-7892
								</address>
							</div>
						</div>



						<table class="table table-bordered invoice-table mb30">
							<thead>
								<tr>
									<th>#</th>
									<th>Nome Responsável</th>
									<th>Quantidade</th>
									<th>Taxa</th>
									<th>Total</th>
								</tr>
							</thead>

							<tbody>
								<tr>
									<td>2400</td>
									<td>Pagamento plataforma mês 02/2015</td>
									<td>1</td>
									<td>5%</td>
									<td>R$450.00</td>
								</tr>
							</tbody>
						</table>
						<!-- #end invoice table -->

						<div class="invoice-total text-right mb30">
	                        <ul class="list-unstyled">
	                            <li>Total Vendas: R$9000.00</li>
	                            <li>Taxa Cobrada (5.0%): $450.00</li>
	                            <li><h4>Pagamento Total: $450.00</h4></li>
	                        </ul>
	                    </div> 
	                    <hr class="dashed"/>
	                    <div class="clearfix mb30">
	                    	<button class="btn btn-primary right" style="margin-left:20px;">Imprimir</button>
		                    <a href="#/financeiro/taxas"><button class="btn btn-primary right" style="margin-left:20px;">Voltar</button></a>
		                </div>

	                    <p class="text-center small text-info">This is a computer generated invoice. No signature required.</p>
					</div>
					<!-- #end panel-body -->
				</div>
			</div>
			<!-- #end col -->
		</div>
		<!-- #end row -->
	</div>
	<!-- #end page-wrap -->
</div>