<div class="page page-invoice clearfix">

	<ol class="breadcrumb breadcrumb-small">
		<li>Pedidos</li>
		<li class="active"><a href="#/pages/invoice">Ver Pedido</a></li>
	</ol>

	<div class="page-wrap">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel page-lined mb30">
					<div class="panel-body">
						<div class="clearfix mb30">
							<h4 class="small text-uppercase text-bold left">Pedido Nº #B39439485</h4>
						</div>
						<!-- invoice addresses -->
						<div class="invoice-address mb30">
							<div class="box">
								<p><strong>Pedido Nº: </strong>334342STR89</p>
								<p><strong>Data: </strong>04-08-2014</p>
								<p><strong class="text-uppercase">Horario: </strong>20:15</p>
								<p><strong>Plataforma: </strong>Aplicativo Mobile</p>
							</div>
							<div class="box">
								<p class="text-uppercase"><strong>Endereço de Entrega</strong></p>
								<address>
									<strong>Bryan R.</strong><br>
									CS-343, Creative Studio, 340<br>
									San Francisco, CA 13107<br>
									<abbr title="Phone">Ph:</abbr> (123) 456-7890
								</address>
							</div>
						</div>



						<table class="table table-bordered invoice-table mb30">
							<thead>
								<tr>
									<th>#</th>
									<th>Nome do Produto</th>
									<th>Observações</th>
									<th>Quantidade</th>
									<th>Preço Unitário</th>
									<th>Total</th>
								</tr>
							</thead>

							<tbody>
								<tr>
									<td>1</td>
									<td>Pizza Grande Calabresa</td>
									<td>Sem Cebola</td>
									<td>2</td>
									<td>R$20.00</td>
									<td>R$40.00</td>
								</tr>
								<tr>
									<td>2</td>
									<td>Pizza Grande Calabresa</td>
									<td>Sem Cebola</td>
									<td>2</td>
									<td>R$20.00</td>
									<td>R$40.00</td>
								</tr>
								<tr>
									<td>3</td>
									<td>Pizza Grande Calabresa</td>
									<td>Sem Cebola</td>
									<td>2</td>
									<td>R$20.00</td>
									<td>R$40.00</td>
								</tr>
							</tbody>
						</table>
						<!-- #end invoice table -->

						<div class="invoice-total text-right mb30">
	                        <ul class="list-unstyled">
	                            <li>Total Pedido: R$120.00</li>
	                            <li>Taxa de Entrega: R$5.00</li>
	                            <li><h4>Total Final: R$125.00</h4></li>
	                        </ul>
	                    </div> 
	                    <hr class="dashed"/>
	                    <div class="clearfix mb30">
		                    <button class="btn btn-primary right" style="margin-left:20px;">Enviar Pedido para Produção!</button>
		                    <button class="btn btn-success right"style="margin-left:20px;">Imprimir</button>
		                    <button class="btn btn-danger right"style="margin-left:20px;">Cancelar</button>
		                </div>

	                    <p class="text-center small text-info">Este é uma fatura gerada por computador. Nenhuma assinatura é necessária.</p>
					</div>
					<!-- #end panel-body -->
				</div>
			</div>
			<!-- #end col -->
		</div>
		<!-- #end row -->
	</div>
	<!-- #end page-wrap -->
</div>